TZ=Asia/Tehran
IS_MULTI_TENANT=false
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DB_ROOT_USER=root
DB_ROOT_PASS="Hek@Mat76#54"
SMS_PROVIDER=
SMS_PROVIDER_LABEL=
SMS_KEY=
SMS_LINE=
SMS_PATTERN_OTP=
NESHAN_API=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
