TZ=Asia/Tehran
IS_MULTI_TENANT=false
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DB_ROOT_USER=root
DB_ROOT_PASS="Hek@Mat76#54"
SMS_PROVIDER=
SMS_PROVIDER_LABEL=
SMS_KEY=
SMS_LINE=
SMS_PATTERN_OTP=
NESHAN_API=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
CLOUDFLARE_DNS_API_TOKEN=
CLOUDFLARE_DNS_ZONE_ID=
CLOUDFLARE_BAN_API_TOKEN=
CLOUDFLARE_BAN_ACCOUNT_ID=
CLOUDFLARE_BAN_LIST_ID=
CLOUDFLARE_BAN_REPORT_TOKEN=
CLOUDFLARE_DNS_HOSTNAMES=hamrah.ktoobr.xyz,iranc.ktoobr.xyz,wifi.ktoobr.xyz,right.ktoobr.xyz,saman.ktoobr.xyz
CLOUDFLARE_DNS_PROXIED=false
CLOUDFLARE_DNS_TTL=1
CLOUDFLARE_TIMEOUT_MS=15000
CLOUDFLARE_BAN_DURATION_MINUTES=1440
CLOUDFLARE_BAN_SYNC_INTERVAL_MINUTES=10
CLOUDFLARE_BAN_SYNC_ENABLED=true
CLOUDFLARE_BAN_SYNC_ON_REPORT=false
